
spring:
  application:
    name: MUSICAL-WORLD-BACKEND
  mvc:
    locale: en
    locale-resolver: fixed
  mail:
    host: smtp.gmail.com
    port: 465
    protocol: smtps
    username: musical.world.apk@gmail.com
    password: mworld365!
    properties:
      mail:
        transport:
          protocol: smtps
        smtps:
          auth: true
          starttls:
            enable: true
          timeout: 8000
---
spring:
  profiles: default
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/musical_world?useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    rest:
      detection-strategy: annotated
server:
  servlet:
    context-path: /musicalworld/rest
  port: 8090

---
spring:
  profiles: develop
  datasource:
    url: jdbc:mysql://145.239.84.253:3306/musical_world?useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: musicalworlduser
    password: dnjupgUrX8RQvvo0
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    rest:
      detection-strategy: annotated
server:
  servlet:
    context-path: /musicalworld/rest
  port: 8090

---
spring:
  profiles: local
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/musical_world?useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    rest:
      detection-strategy: annotated
server:
  servlet:
    context-path: /musicalworld/rest
  port: 8090

---
spring:
  profiles: test
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:file:~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  data:
    rest:
      detection-strategy: annotated
server:
  servlet:
    context-path: /musicalworld/rest
  port: 8090

---